*,
*::before,
*::after,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--clr-font-primary);


}



:root {

    --clr-primary: #ffff;
    --clr-secondary: #F4F4F4;
    --clr-font-primary: #052A45;
    --clr-font-secondary: #6B797E;
    --clr-accent: #FF6B00;
    --clr-gradient: linear-gradient(-90deg, #F54A00, #FE6700);
}

.btn {

    background: var(--clr-gradient);
    color: var(--clr-primary);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 10px 10px 40px rgba(254, 103, 0, 0.27);
    width: 10vw;
}

p {
    line-height: 30px;
}

.bulle {
    background-color: #F5F6F8;
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 7rem;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.triangle {
    position: absolute;
    top: 35%;
    left: 55%;
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(45deg);
    background-color: #F5F6F8;
    z-index: 2;
}

.bulle_text {
    padding-top: 0.5rem;
    width: 90%;
    height: 70%;

}

.bulle_text_row {
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    color: var(--clr-font-secondary);
}

.bulle_text2 {
    font-size: 15px;
    font-weight: 700;
    color: var(--clr-font-primary);
}

.progress {
    width: 90%;
    height: 10%;
    background-color: #e9e9ee;
}

.value {
    width: 40%;
    height: 100%;
    background-color: var(--clr-accent);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
}

ul {
    display: flex;
    flex-direction: row;

}

li {
    list-style: none;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: var(--clr-font-secondary);
    font-weight: 600;
}

a:hover {
    color: var(--clr-accent);
}

.active {
    color: var(--clr-font-primary);
}


.nav_elem {

    width: 33%;
}

.nav_elem2,
.nav_elem3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


header {
    padding-top: 1rem;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-secondary);
    background-image: url(../images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


}

.hero {
    height: calc(100vh - 10vh);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_info {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;

}

h2 {
    font-size: 45px;
}

.header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;


}

.btn1,
.text1 {
    margin-top: 2rem;

}

.info_number {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.info_elem {
    width: 33%;
    display: flex;
    flex-direction: column;

}

h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}



.header_right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.image_bulle {
    width: 90%;
    height: 100%;
    background-image: url(../images/picture1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section_cards {
    position: absolute;
    top: 85vh;
    width: 100%;
    height: 60vh;
    background-color: #fdfdfd00;
    display: flex;
    flex-direction: row;
}


.container_section_cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.cards {
    width: 20%;
    height: 43vh;
    background-color: var(--clr-primary);
    background: #FDFDFD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 3rem;

}

.number_card {
    font-size: 20px;
    font-weight: 700;
    color: #D5D6D7;
    padding: 0.6rem
}

.card_content {
    padding: 1rem
}

.card_content h4 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 2rem;
}


.card_content p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 2rem;
}

.progress_cards {
    height: 1.5%;
    width: 90%;
    background-color: var(--clr-accent);
    margin: auto;
}

.section_whynot {
    height: 110vh;
}

.bg_for_cards {
    height: 35vh;
}

.why_not {
    height: 100vh;
    padding-inline: 4rem;
    display: flex;
    flex-direction: row;
}

.whynot_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-top: 6rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.048);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ico1 {
    background-image: url(../images/ico-1.png);
}

.ico2 {
    background-image: url(../images/ico-2.png);
}

.ico3 {
    background-image: url(../images/ico-3.png);
}


.whynot_picture {

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.whynot_picture img {
    width: 90%;
    margin: auto;
}

.thinker {
    width: 80%;
    height: 70%;
    background-image: url("../images/picture2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.whynot_infos {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.whynot_infos h3 {
    font-size: 34px;
    font-weight: 700;

}



.infos_content {

    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.personal {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;

}


.pp {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    background-image: url(../images/pp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal_row {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}

.personal_text {
    display: flex;
    flex-direction: row;
    padding-inline: 0.5rem;
    margin-top: 1rem;
}

.line {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    margin-left: 1.5rem;
    border-right: 0.2rem var(--clr-font-primary) solid;
}

.personal_text p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 2rem;
    color: var(--clr-font-secondary);
}



.section_calltoaction {
    position: absolute;
    top: 235vh;
    padding-inline: 4rem;
    width: 100%;
    height: 60vh;
}

.bandeau_orange {

    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/bgorange.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bandeau_orange_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;


}
.bandeau_orange button{
    background: var(--clr-primary);
    color: var(--clr-font-primary);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    font-size: 12px;
    font-weight: bold;
    width: 10vw;
    height: 8vh;

}


.bandeau_orange h3,
.bandeau_orange p {
    color: var(--clr-primary);
}

.bandeau_orange h3 {
    font-size: 32px;
    line-height: 45px;
}

.bandeau_orange p {
    font-size: 16px;
}